subarch: ###SUB_ARCH###
target: stage4
version_stamp: ###VERSION_STAMP###
rel_type: ###BUILD_NAME###
profile: ###REL_PROFILE###
snapshot: ###REL_SNAPSHOT### 
source_subpath: ###SRC_PATH### 
portage_confdir: /etc/catalyst/overlays/portage
kerncache_path: /var/data/catalyst/kerncache/###BUILD_NAME###
